[submodule "@account-abstraction"]
	path = @account-abstraction
	url = https://github.com/candidelabs/account-abstraction
[submodule "@safe-contracts"]
	path = @safe-contracts
	url = https://github.com/safe-global/safe-contracts
